*,
html {
    margin: 0;
    padding: 0;
}
.container {
    
}

.container-navbar {
    background-color: rgb(114, 166, 255);
    height: 10vh;
}
.ul-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.li-navbar {
    color: white;
    font-size: 20px;
    list-style-type: none;
    padding: 20px;
}
.li-navbar:hover {
    background-color: rgb(0, 128, 255);
    transition-duration: .7s;
    border-radius: 10px;
}
.a-navbar {
    color: white;
    text-decoration: none;
}
.container-content {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    display: flex;
     justify-content: center;
     align-items: center;
}
.img-content {
    height: 200px;
    width: 250px;
}
.container-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-content2 {
     flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.img-download {
    height: 200px;
    width: 200px;
}
.p-download {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container-download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.p2-download {
    color: black;
    font-size: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.a-content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-footer {
    background-color: rgb(90, 148, 255) ;
    height: 10vh;
d   display: flex;
    
}
.h-footer {
    font-size: 20px;
    color: white;
    display: flex;
     justify-content: center;
     align-items: center;
}